{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{% static 'app-design/assets/images/favicon.svg" type="image/x-icon'%} ">
    
    <link rel="stylesheet" href="{% static 'app-design/assets/css/bootstrap.css'%} ">
    <link rel="stylesheet" href="{% static 'app-design/assets/vendors/perfect-scrollbar/perfect-scrollbar.css'%} ">
    <link rel="stylesheet" href="{% static 'app-design/assets/css/app.css'%} ">
    <link href="{% static 'app-design/assets/css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'app-design/assets/vendors/choices.js/choices.min.css' %}" />

    <style>
        #table thead th {
            vertical-align: bottom!important;
        }
        
        #table thead th:before, #table thead th:after{
            padding-bottom:13px!important
        }
        </style>
    {% block css-extender %}
    {% endblock css-extender %}
</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <a href="{% url 'app:dashboard' %}">
                        <img src="{% static 'customs/assets/images/descan-banggai.png' %}" alt="" srcset="" width="800" height="900" style=" display: block; max-width:400px;max-height:115px;width: auto;height: auto">
                    </a>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                            <li class='sidebar-title'>Main Menu</li>
                            <li class="sidebar-item">
                                <a href="{% url 'app:dashboard' %}" class='sidebar-link'>
                                    <i data-feather="home" width="20"></i> 
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li class='sidebar-title'>Tabulasi dan Laporan</li>
                            <li class="sidebar-item">
                                <a href="{% url 'app:tab_families' %}" class='sidebar-link'>
                                    <i data-feather="layout" width="20"></i> 
                                    <span>Tabulasi Keluarga</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="{% url 'app:tab_populations' %}" class='sidebar-link'>
                                    <i data-feather="layout" width="20"></i> 
                                    <span>Tabulasi Penduduk</span>
                                </a>
                            </li>
                            <li class='sidebar-title'>Master Data</li>
                            <li class="sidebar-item">
                                <a href="{% url 'app:mnj_families' %}" class='sidebar-link'>
                                    <i data-feather="user" width="20"></i> 
                                    <span>Manajemen Keluarga</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'app:mnj_population' %}" class='sidebar-link'>
                                    <i data-feather="user" width="20"></i> 
                                    <span>Manajemen Penduduk</span>
                                </a>
                            </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="{% static 'app-design/assets/images/avatar/avatar-s-1.png' %}" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hi, {{request.user.username}}</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                                <div class="dropdown-divider"></div>

                                <form action="{% url 'auth:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</button>
                                </form>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div class="main-content container-fluid">
                {% block main-content %}
                {% endblock main-content %}
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; BPS Kab. Muna</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="{% static 'app-design/assets/js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'app-design/assets/js/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'app-design/assets/js/app.js' %}"></script>
    <script src="{% static 'app-design/assets/js/main.js' %}"></script>
    <script src="{% static 'app-design/assets/js/vendor/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'app-design/assets/js/vendor/dataTables.bootstrap5.js' %}"></script>
    <script src="{% static 'app-design/assets/js/vendor/dataTables.responsive.min.js' %}"></script>
    <link
    href="{% static 'app-design/assets/css/icons.min.css' %}"
    rel="stylesheet"
    type="text/css"
    />
    <script>
        // Get current page and set current in nav
        $(".sidebar-menu .menu >li").each(function() {
            var navItem = $(this);
            navItem.removeClass("active");
            if (navItem.find("a").attr("href") == location.pathname) {
              navItem.addClass("active");
            }
        });
        
    </script>
    <script>
        function push_notif(msg, state, target){
            var html = `
            <div class="row my-3">
                <div class="col-12">
                    <div class="alert `+state+` alert-dismissible px-3" role="alert">
                        `+msg+`
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            `
            return $(target).html(html)
        }

        function get_region_adm(level, val, target){

            var data = {}
            var opt = '<option value="" selected="selected">---------</option>'
    
            if (level == 'prov'){
                data['province_id'] = val
                $('#id_kabkot').html(opt)
                $('#id_kecamatan').html(opt)
                $('#id_r104').html(opt)
                $('#id_r105').html(opt)
            }else if (level == 'kabkot'){
                data['regency_id'] = val
                $('#id_kecamatan').html(opt)
                $('#id_r104').html(opt)
                $('#id_r105').html(opt)
            }else if (level == 'kec'){
                data['district_id'] = val
                $('#id_r104').html(opt)
                $('#id_r105').html(opt)
            }else if (level == 'deskel'){
                data['subdistrict_id'] = val
                $('#id_r105').html(opt)
            }else{
                return false
            }
            
            $.ajax({
                url: '{% url "app:fetch-region" %}',
                type: "POST",
                dataType: "json",
                data : data,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": '{{csrf_token}}',
                },
                success: (result) => {
    
                    if (level == 'kec'){
                        for (let i = 0; i < result.data.length; i++) {
                            opt += '<option value="'+result.data[i].id+'" data-code="'+result.data[i].reg_code+'">['+result.data[i].reg_code+'] &ensp;'+result.data[i].reg_name+'</option>'
                        }
                    }else if (level == 'deskel'){
                        for (let i = 0; i < result.data.length; i++) {
                            opt += '<option value="'+result.data[i].id+'" data-code="'+result.data[i].reg_sls_code+'">['+result.data[i].reg_sls_code+'] &ensp;'+result.data[i].reg_sls_name+'</option>'
                        }
                    }else{
                        for (let i = 0; i < result.data.length; i++) {
                            opt += '<option value="'+result.data[i].reg_code+'" data-code="'+result.data[i].reg_code+'">['+result.data[i].reg_code+'] &ensp;'+result.data[i].reg_name+'</option>'
                        }
                    }
                    $(target).html(opt)
                },
                error: (error) => {
                    console.log(error);
                }
            });
    
            return
        }
    </script>
    {% block js-extender %}
    {% endblock js-extender %}
</body>
</html>
