{% extends "base/index.html" %}
{% load static %}

{% block css-extender %}
<link rel="stylesheet" href="{% static 'app-design/assets/vendors/choices.js/choices.min.css' %}" />
{% endblock css-extender %}

{% block main-content %}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Tabulasi Keluarga</h3>
            <p class="text-subtitle text-muted">We use 'simple-datatables' made by @fiduswriter. You can check the full documentation <a href="https://github.com/fiduswriter/Simple-DataTables/wiki">here</a>.</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Datatable</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section class="section">

    <div class="row mb-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Filter Wilayah</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-4 pb-4">
                    <div class="row">
                        <div class="col-3">Filter Provinsi</div>
                        <div class="col-9">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">Sulawesi Tenggara</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Filter Kabupaten/Kota</div>
                        <div class="col-9">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">Kabupaten Muna</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Filter Kecamatan</div>
                        <div class="col-9">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">Duruka</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Filter Desa/Kelurahan</div>
                        <div class="col-9">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select">
                                    <option value="romboid">Banggai</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Filter SLS/Non SLS</div>
                        <div class="col-9">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select">
                                    <option value="romboid">RT 001 RW 001</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Filter Karakteristik Keluarga</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-4 pb-4">
                    <div class="row">
                        <div class="col-5">Pendidikan KRT</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select">
                                    <option>----</option>
                                    {% for edu_level in education_levels %}
                                        <option value="{{edu_level.0}}">{{edu_level.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Status Kepemilikan Bangunan</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option>----</option>
                                    {% for state in home_ownership_state %}
                                        <option value="{{state.0}}">{{state.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Kepemilikan Aset</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">Rumah</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Penerima Program Bantuan</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">BLT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Pilih Tabulasi</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" onchange="tabulationPush(this)">
                                    <option value="">----</option>
                                    <option value="1">Jumlah Keluarga Menurut Pendidikan Tertinggi KRT</option>
                                    <option value="2">Jumlah Keluarga Menurut Status Kepemilikan Bangunan Tempat Tinggal</option>
                                    <option value="3">Jumlah Keluarga Menurut Bukti kepemilikan Tanah Bangunan Tempat Tinggal</option>
                                    <option value="4">Jumlah Keluarga Menurut Luas Lantai Bangunan Tempat Tinggal</option>
                                    <option value="5">Jumlah Keluarga Menurut Jenis Lantai Terluas</option>
                                    <option value="6">Jumlah Keluarga Menurut Jenis Dinding Terluas</option>
                                    <option value="7">Jumlah Keluarga Menurut Jenis Atap Terluas</option>
                                    <option value="8">Jumlah Keluarga Menurut Sumber Air Minum Utama</option>
                                    <option value="9">Jumlah Keluarga Menurut Jarak Sumber Air Minum Utama ke Tempat Penampungan Limbah</option>
                                    <option value="10">Jumlah Keluarga Menurut Sumber Penerangan Utama</option>
                                    <option value="11">Jumlah Keluarga Menurut Daya yang Terpasang</option>
                                    <option value="12">Jumlah Keluarga Menurut Bahan Bakar/Energi Utama untuk Memasak</option>
                                    <option value="13">Jumlah Keluarga Menurut Kepemilikan dan Penggunaan Fasilitas Tempat Buang Air Besar</option>
                                    <option value="14">Jumlah Keluarga Menurut Jenis Kloset</option>
                                    <option value="15">Jumlah Keluarga Menurut Tempat Pembuangan Akhir Tinja</option>
                                    <option value="16">Jumlah Keluarga Menurut Penerima Program Bantuan Sosial Sembako/ BPNT</option>
                                    <option value="17">Jumlah Keluarga Menurut Penerima Program Keluarga Harapan (PKH)</option>
                                    <option value="18">Jumlah Keluarga Menurut Penerima Program Bantuan Langsung Tunai (BLT) Desa</option>
                                    <option value="19">Jumlah Keluarga Menurut Penerima Program Subsidi Listrik (Gratis/Pemotongan Biaya)</option>
                                    <option value="20">Jumlah Keluarga Menurut Penerima Program Bantuan Pemerintah Daerah</option>
                                    <option value="21">Jumlah Keluarga Menurut Penerima Program Bantuan Subsidi Pupuk</option>
                                    <option value="22">Jumlah Keluarga Menurut Penerima Program Subsidi LPG</option>
                                    <option value="23">Jumlah Keluarga Menurut Kepemilikan Tabung gas 5,5 kg atau lebih</option>
                                    <option value="24">Jumlah Keluarga Menurut Kepemilikan Lemari Es/Kulkas</option>
                                    <option value="25">Jumlah Keluarga Menurut Kepemilikan Air Conditioner (AC)</option>
                                    <option value="26">Jumlah Keluarga Menurut Kepemilikan Pemanas Air (Water Heater)</option>
                                    <option value="27">Jumlah Keluarga Menurut Kepemilikan Telepon Rumah (PSTN)</option>
                                    <option value="28">Jumlah Keluarga Menurut Kepemilikan Televisi Layar Datar (Min. 30 Inci)</option>
                                    <option value="29">Jumlah Keluarga Menurut Kepemilikan Emas/Perhiasan (Min. 10 gram)</option>
                                    <option value="30">Jumlah Keluarga Menurut Kepemilikan Komputer/Laptop/Tablet</option>
                                    <option value="31">Jumlah Keluarga Menurut Kepemilikan Sepeda Motor</option>
                                    <option value="32">Jumlah Keluarga Menurut Kepemilikan Mobil</option>
                                    <option value="33">Jumlah Keluarga Menurut Kepemilikan Aset Lahan (selain yang ditempati)</option>
                                    <option value="34">Jumlah Keluarga Menurut Kepemilikan Aset Rumah/Bangunan di Tempat Lain</option>
                                    <option value="35">Jumlah Keluarga Menurut Kepemilikan Hewan Ternak</option>
                                    <option value="36">Jumlah Keluarga Menurut Kepemilikan Rekening Aktif</option>
                                </select>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-3">
            <div class="card bg-primary">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class="px-3 py-3" style="height:170px !important">
                            <h3 class="text-white">Jumlah Keluarga</h3>
                            <div class="card-body px-0 d-flex justify-content-start">
                                <h2 class="text-white">{{families}} Keluarga</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card bg-primary">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='text-white'>Jumlah Penduduk</h3>
                            <div class="card-body px-0 d-flex justify-content-start">
                                <h2 class="text-white">{{populations}} Penduduk</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card bg-primary">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='text-white'>Jumlah Penerima Bantuan</h3>
                            <div class="card-body px-0 d-flex justify-content-start">
                                <h2 class="text-white">{{welfare_recips}} Keluarga</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card bg-primary">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='text-white'>Persentase Penduduk Bekerja</h3>
                            <div class="card-body px-0 d-flex justify-content-start">
                                <h2 class="text-white">{{labor_force}} Persen</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4" id="tabulation-card" style="display:none">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title" id="tabulation-title">Tabulasi</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-3 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="tabulations-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Kepala Keluarga</th>
                                    <th>Pendidikan KRT</th>
                                    <th>Jumlah ART</th>
                                    <th>Alamat</th>
                                    <th>Status Penerima Bantuan</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>

{% endblock main-content %}


{% block js-extender %}
<script src="{% static 'app-design/assets/vendors/choices.js/choices.min.js' %}"></script>
<script>
    function tabulationPush(e){
        var title = $(e).text()
        var val = $(e).val()
        $.ajax({
            url: '{% url "app:tab_families_fetch" %}',
            type: "POST",
            dataType: "json",
            data : {
                'id' : val,
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (data) => {
                return alert('Hello World')
            },
            error: (error) => {
                return alert(error)
            }
        });


        $('#tabulation-title').text('').text(title)
        $('#tabulation-card').show()

        if (val.length == 0){
            $('#tabulation-card').hide()
        }
        
    }
</script>
{% endblock js-extender %}