{% extends "base/index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css-extender %}
<link rel="stylesheet" href="{% static 'app-design/assets/vendors/choices.js/choices.min.css' %}" />
{% endblock css-extender %}

{% block main-content %}

<section class="section mb-3">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Tambah Keluarga Baru</h3>
                <p class="text-subtitle text-muted">
                    Manajemen data keluarga untuk memutakhirkan kondisi dan karakteristik keluarga di setiap desa.
                </p>
                <a href="{% url 'app:mnj_families' %}">Kembali</a>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Manajemen</a></li>
                        <li class="breadcrumb-item" aria-current="page">Keluarga</li>
                        <li class="breadcrumb-item active" aria-current="page">Keluarga Baru</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="section mt-4">

<div id="message-respons">
</div>

<form action="" method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>Keterangan Tempat</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="provinsi_id">Provinsi</label>
                <div class="position-relative">
                    <select name="province" id="provinsi_id" class="form-control px-3 form-family" required>
                        <option value="" selected="selected">---------</option>
                        {% for prov_reg in province_regions %}
                            <option value="{{prov_reg.reg_code}}">{{prov_reg.reg_code}}&ensp;{{prov_reg.reg_name}}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback" id="msg-provinsi_id">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="kabkot_id">Kabupaten/Kota <strong>*)</strong></label>
                <div class="position-relative">
                    <select name="kabkot" id="kabkot_id" class="form-control px-3 form-family" required>
                        <option value="" selected="selected">---------</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="kecamatan_id">Kecamatan</label>
                <div class="position-relative">
                    <select name="kecamatan" id="kecamatan_id" class="form-control px-3 form-family" required>
                        <option value="" selected="selected">---------</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r104.id_for_label }}">{{ form.r104.label }}</label>
                <div class="position-relative">
                    <select name="{{ form.r104.name }}" id="{{ form.r104.id_for_label }}" class="form-control px-3 form-family" required="">
                        <option value="" selected="selected">---------</option>
                    </select>
                    <div class="invalid-feedback" id="msg-{{ form.r104.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r105.id_for_label }}">{{ form.r105.label }}</label>
                <div class="position-relative">
                    <select name="{{ form.r105.name }}" id="{{ form.r105.id_for_label }}" class="form-control px-3 form-family" required="">
                        <option value="" selected="selected">---------</option>
                    </select>
                    <div class="invalid-feedback" id="msg-{{ form.r105.id_for_label }}">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.r107.id_for_label }}">{{ form.r107.label }}</label>
                <div class="position-relative">
                    {% render_field form.r107 class="form-control px-3 form-family"  id=form.r107.id_for_label  rows="4" %}
                    <div class="invalid-feedback" id="msg-{{ form.r107.id_for_label }}">
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <label for="{{ form.r108.id_for_label }}">{{ form.r108.label }}</label>
                <div class="position-relative">
                    {% render_field form.r108 class="form-control px-3 form-family"  id=form.r108.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r108.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r112.id_for_label }}">{{ form.r112.label }}</label>
                <div class="position-relative">
                    {% render_field form.r112 class="form-control px-3 form-family"  id=form.r112.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r112.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r115.id_for_label }}">{{ form.r115.label }}</label>
                <div class="position-relative">
                    {% render_field form.r115 class="form-control px-3 form-family"  id=form.r115.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r115.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <h4>Keterangan Perumahan</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.r301a.id_for_label }}">{{ form.r301a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r301a id=form.r301a.id_for_label class="form-control px-3 form-family"  %}
                    <div class="invalid-feedback" id="msg-{{ form.r301a.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group d-none">
                <label for="{{ form.r301b.id_for_label }}">{{ form.r301b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r301b class="form-control px-3 form-family"  id=form.r301b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r301b.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r302.id_for_label }}">{{ form.r302.label }}</label>
                <div class="position-relative">
                    {% render_field form.r302 class="form-control px-3 form-family"  id=form.r302.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r302.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r303.id_for_label }}">{{ form.r303.label }}</label>
                <div class="position-relative">
                    {% render_field form.r303 class="form-control px-3 form-family"  id=form.r303.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r303.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r304.id_for_label }}">{{ form.r304.label }}</label>
                <div class="position-relative">
                    {% render_field form.r304 class="form-control px-3 form-family" id=form.r304.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r304.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r305.id_for_label }}">{{ form.r305.label }}</label>
                <div class="position-relative">
                    {% render_field form.r305 class="form-control px-3 form-family" id=form.r305.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r305.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r306a.id_for_label }}">{{ form.r306a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r306a class="form-control px-3 form-family" id=form.r306a.id_for_label  %}
                    <div class="invalid-feedback" id="msg-{{ form.r306a.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group d-none">
                <label for="{{ form.r306b.id_for_label }}">{{ form.r306b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r306b class="form-control px-3 form-family" id=form.r306b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r306b.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r307a.id_for_label }}">{{ form.r307a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r307a class="form-control px-3 form-family"  id=form.r307a.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r307a.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group d-none">
                <label for="{{ form.r307b.id_for_label }}">{{ form.r307b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r307b class="form-control px-3 form-family"  id=form.r307b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r307b.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r308.id_for_label }}">{{ form.r308.label }}</label>
                <div class="position-relative">
                    {% render_field form.r308 class="form-control px-3 form-family"  id=form.r308.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r308.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r309a.id_for_label }}">{{ form.r309a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r309a class="form-control px-3 form-family"  id=form.r309a.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r309a.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group d-none">
                <label for="{{ form.r309b.id_for_label }}">{{ form.r309b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r309b class="form-control px-3 form-family"  id=form.r309b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r309b.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r310.id_for_label }}">{{ form.r310.label }}</label>
                <div class="position-relative">
                    {% render_field form.r310 class="form-control px-3 form-family"  id=form.r310.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r310.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <h4>Status Penerimaan Bantuan</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="{{ form.r501a.id_for_label }}">{{ form.r501a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501a class="form-control px-3 form-family" id=form.r501a.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501a.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r501b.id_for_label }}">{{ form.r501b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501b class="form-control px-3 form-family" id=form.r501b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501b.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r501c.id_for_label }}">{{ form.r501c.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501c class="form-control px-3 form-family" id=form.r501c.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501c.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r501d.id_for_label }}">{{ form.r501d.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501d class="form-control px-3 form-family" id=form.r501d.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501d.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r501e.id_for_label }}">{{ form.r501e.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501e class="form-control px-3 form-family" id=form.r501e.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501e.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r501f.id_for_label }}">{{ form.r501f.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501f class="form-control px-3 form-family" id=form.r501f.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501f.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r501g.id_for_label }}">{{ form.r501g.label }}</label>
                <div class="position-relative">
                    {% render_field form.r501g class="form-control px-3 form-family" id=form.r501g.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r501g.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <h4>Status Kepemilikan Aset</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.r502a.id_for_label }}">{{ form.r502a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502a class="form-control px-3 form-family" id=form.r502a.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502a.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502b.id_for_label }}">{{ form.r502b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502b class="form-control px-3 form-family" id=form.r502b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502b.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502c.id_for_label }}">{{ form.r502c.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502c class="form-control px-3 form-family" id=form.r502c.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502c.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502d.id_for_label }}">{{ form.r502d.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502d class="form-control px-3 form-family" id=form.r502d.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502d.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502e.id_for_label }}">{{ form.r502e.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502e class="form-control px-3 form-family" id=form.r502e.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502e.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502f.id_for_label }}">{{ form.r502f.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502f class="form-control px-3 form-family" id=form.r502f.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502f.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502g.id_for_label }}">{{ form.r502g.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502g class="form-control px-3 form-family" id=form.r502g.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502g.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r502h.id_for_label }}">{{ form.r502h.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502h class="form-control px-3 form-family" id=form.r502h.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502h.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.r502i.id_for_label }}">{{ form.r502i.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502i class="form-control px-3 form-family" id=form.r502i.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502i.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r502j.id_for_label }}">{{ form.r502j.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502j class="form-control px-3 form-family" id=form.r502j.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502j.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r502k.id_for_label }}">{{ form.r502k.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502k class="form-control px-3 form-family" id=form.r502k.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502k.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r502l.id_for_label }}">{{ form.r502l.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502l class="form-control px-3 form-family" id=form.r502l.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502l.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r502m.id_for_label }}">{{ form.r502m.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502m class="form-control px-3 form-family" id=form.r502m.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502m.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r502n.id_for_label }}">{{ form.r502n.label }}</label>
                <div class="position-relative">
                    {% render_field form.r502n class="form-control px-3 form-family" id=form.r502n.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r502n.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r503a.id_for_label }}">{{ form.r503a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r503a class="form-control px-3 form-family" id=form.r503a.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r503a.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r503b.id_for_label }}">{{ form.r503b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r503b class="form-control px-3 form-family" id=form.r503b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r503b.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <h4>Status Kepemilikan Rekening dan Akses Internet</h4>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.r505.id_for_label }}">{{ form.r505.label }}</label>
                <div class="position-relative">
                    {% render_field form.r505 class="form-control px-3 form-family" id=form.r505.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r505.id_for_label }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.r506.id_for_label }}">{{ form.r506.label }}</label>
                <div class="position-relative">
                    {% render_field form.r506 class="form-control px-3 form-family" id=form.r506.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r506.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <h4>Status Kepemilikan Hewan Ternak</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.r504a.id_for_label }}">{{ form.r504a.label }}</label>
                <div class="position-relative">
                    {% render_field form.r504a class="form-control px-3 form-family" id=form.r504a.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r504a.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r504b.id_for_label }}">{{ form.r504b.label }}</label>
                <div class="position-relative">
                    {% render_field form.r504b class="form-control px-3 form-family" id=form.r504b.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r504b.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r504c.id_for_label }}">{{ form.r504c.label }}</label>
                <div class="position-relative">
                    {% render_field form.r504c class="form-control px-3 form-family" id=form.r504c.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r504c.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r504d.id_for_label }}">{{ form.r504d.label }}</label>
                <div class="position-relative">
                    {% render_field form.r504d class="form-control px-3 form-family" id=form.r504d.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r504d.id_for_label }}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.r504e.id_for_label }}">{{ form.r504e.label }}</label>
                <div class="position-relative">
                    {% render_field form.r504e class="form-control px-3 form-family" id=form.r504e.id_for_label %}
                    <div class="invalid-feedback" id="msg-{{ form.r504e.id_for_label }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <h4>Anggota Keluarga</h4>
        </div>
    </div>

    <div class="art-section">
    </div>

    <div class="row my-3">
        <div class="col-12">
            <a href="{% url 'app:mnj_families' %}" class="btn btn-danger btn-sm">Batal</a>
            <button class="btn btn-primary btn-sm" onclick="checkSubmit()">Tambah Data</button>
        </div>
    </div>

</form>

</section>

{% endblock main-content %}


{% block js-extender %}
<script src="{% static 'app-design/assets/vendors/choices.js/choices.min.js' %}"></script>


<script>

    var last_row_num = 1

    function generate_art(num){
            var form_art = `
            <div class="row-art mt-5">
            <div class="row">
                <div class="col-6">
                    <h5 class="no_art"># ART `+ num +`</h5>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0)" class="btn icon btn-primary mx-1" onclick="addRow(this)" data-num_art="`+ num +`" style="font-size:25px">+</a> 
                    <a href="javascript:void(0)" class="btn icon btn-danger removeRow" onclick="removeRow(this)" style="font-size:25px">-</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <h4>Karakteristik ART</h4>
                        <label for="form_art_r401_`+ num +`">{{ form_penduduk.r401.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r401 class="form-control px-3" id="form_art_r401_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r401_`+ num +`">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="form_art_r402_`+ num +`">{{ form_penduduk.r402.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r402 class="form-control px-3" id="form_art_r402_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r402_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="form_art_r403_`+ num +`">{{ form_penduduk.r403.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r403 class="form-control px-3" id="form_art_r403_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r403_`+ num +`">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form_art_r404_`+ num +`">{{ form_penduduk.r404.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r404 class="form-control px-3 form_art_r404" id="form_art_r404_`+ num +`" data-num="`+ num +`" onchange="showField404(this)" %}
                            <div class="invalid-feedback" id="msg-form_art_r404_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r405_`+ num +`">{{ form_penduduk.r405.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r405 class="form-control field-art-`+ num +` px-3" id="form_art_r405_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r405_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r406_`+ num +`">{{ form_penduduk.r406.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r406 class="form-control field-art-`+ num +` px-3" id="form_art_r406_`+ num +`" type="date" %}
                            <div class="invalid-feedback" id="msg-form_art_r406_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r407_`+ num +`">{{ form_penduduk.r407.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r407 class="form-control field-art-`+ num +` px-3" id="form_art_r407_`+ num +`" data-num="`+ num +`" onchange="showField407(this)" %}
                            <div class="invalid-feedback" id="msg-form_art_r407_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r408_`+ num +`">{{ form_penduduk.r408.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r408 class="form-control field-art-`+ num +` px-3" id="form_art_r408_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r408_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r409_`+ num +`">{{ form_penduduk.r409.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r409 class="form-control field-art-`+ num +` px-3" id="form_art_r409_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r409_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r411_`+ num +`">{{ form_penduduk.r411.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r411 class="form-control field-art-`+ num +` px-3" id="form_art_r411_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r411_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group mt-4 d-none">
                        <h4>Status Pendidikan</h4>
                        <label for="form_art_r412_`+ num +`">{{ form_penduduk.r412.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r412 class="form-control field-art-`+ num +` px-3" id="form_art_r412_`+ num +`" data-num="`+ num +`" onchange="showField412(this)"%}
                            <div class="invalid-feedback" id="msg-form_art_r412_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r415_`+ num +`">{{ form_penduduk.r415.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r415 class="form-control field-art-`+ num +` px-3" id="form_art_r415_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r415_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                </div>
                <div class="col-6">
                    <div class="form-group mt-4 d-none">
                        <h4>Status Bekerja/Berusaha</h4>
                        <label for="form_art_r416a_`+ num +`">{{ form_penduduk.r416a.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r416a class="form-control field-art-`+ num +` px-3" id="form_art_r416a_`+ num +`" data-num="`+ num +`" onchange="showField416(this)"%}
                            <div class="invalid-feedback" id="msg-form_art_r416a_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r416b_`+ num +`">{{ form_penduduk.r416b.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r416b class="form-control field-art-`+ num +` px-3" id="form_art_r416b_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r416b_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r417_`+ num +`">{{ form_penduduk.r417.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r417 class="form-control field-art-`+ num +` px-3" id="form_art_r417_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r417_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r418_`+ num +`">{{ form_penduduk.r418.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r418 class="form-control field-art-`+ num +` px-3" id="form_art_r418_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r418_`+ num +`">
                            </div>
                        </div>
                    </div>

                    <div class="form-group d-none">
                        <label for="form_art_r420a_`+ num +`">{{ form_penduduk.r420a.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r420a class="form-control field-art-`+ num +` px-3" id="form_art_r420a_`+ num +`" data-num="`+ num +`" onchange="showField420(this)" %}
                            <div class="invalid-feedback" id="msg-form_art_r420a_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r421_`+ num +`">{{ form_penduduk.r421.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r421 class="form-control field-art-`+ num +` px-3" id="form_art_r421_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r421_`+ num +`">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group d-none">
                        <label for="form_art_r422_23_`+ num +`">{{ form_penduduk.r422_23.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r422_23 class="form-control field-art-`+ num +` px-3" id="form_art_r422_23_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r422_23_-`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r425_`+ num +`">{{ form_penduduk.r425.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r425 class="form-control field-art-`+ num +` px-3" id="form_art_r425_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r425_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r427_`+ num +`">{{ form_penduduk.r427.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r427 class="form-control field-art-`+ num +` px-3" id="form_art_r427_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r427_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group mt-4 d-none">
                        <h4>Status Kesehatan</h4>
                        <label for="form_art_r430_`+ num +`">{{ form_penduduk.r430.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r430 class="form-control field-art-`+ num +` px-3" id="form_art_r430_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r430_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group mt-4 d-none">
                        <h4>Status Jaminan Kesehatan/Ketenagakerjaan</h4>
                        <label for="form_art_r431a_`+ num +`">{{ form_penduduk.r431a.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r431a class="form-control field-art-`+ num +` px-3" id="form_art_r431a_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r431a_`+ num +`">
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group d-none">
                        <label for="form_art_r431f_`+ num +`">{{ form_penduduk.r431f.label }}</label>
                        <div class="position-relative">
                            {% render_field form_penduduk.r431f class="form-control field-art-`+ num +` px-3" id="form_art_r431f_`+ num +`" %}
                            <div class="invalid-feedback" id="msg-form_art_r431f_`+ num +`">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            `
        return form_art
    }

    $('.art-section').append(generate_art(1))
    function addRow(e){
        var last_row = $(e).data('num_art')
        var current_row = $(e).parent().parent().parent()
        current_row.after(generate_art(last_row+1));
        
        $('.no_art').each(function(i, obj) {
            $(this).html("# ART " + (i+1))
            last_row_num = i+1
        });
    }

    function removeRow(e){

        if ($('.no_art').length == 1){
            return alert('Minimal keluarga harus memiliki satu anggota keluarga')
        }
        var current_row = $(e).parent().parent().parent()
        current_row.remove();
        $('.no_art').each(function(i, obj) {
            $(this).html("# ART " + (i+1))
            last_row_num = i+1
        });
    }

    function get_region_adm(level, val, target){

        var data = {}
        var opt = '<option value="" selected="selected">---------</option>'

        if (level == 'prov'){
            data['province_id'] = val
            $('#kabkot_id').html(opt)
            $('#kecamatan_id').html(opt)
            $('#id_r104').html(opt)
            $('#id_r105').html(opt)
        }else if (level == 'kabkot'){
            data['regency_id'] = val
            $('#kecamatan_id').html(opt)
            $('#id_r104').html(opt)
            $('#id_r105').html(opt)
        }else if (level == 'kec'){
            data['district_id'] = val
            $('#id_r104').html(opt)
            $('#id_r105').html(opt)
        }else if (level == 'deskel'){
            data['subdistrict_id'] = val
            $('#id_r105').html(opt)
        }else{
            return false
        }
        
        $.ajax({
            url: '{% url "app:fetch-region" %}',
            type: "POST",
            dataType: "json",
            data : data,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (result) => {

                if (level == 'kec'){
                    for (let i = 0; i < result.data.length; i++) {
                        opt += '<option value="'+result.data[i].id+'" data-code="'+result.data[i].reg_code+'">['+result.data[i].reg_code+'] &ensp;'+result.data[i].reg_name+'</option>'
                    }
                }else if (level == 'deskel'){
                    for (let i = 0; i < result.data.length; i++) {
                        opt += '<option value="'+result.data[i].id+'">['+result.data[i].reg_sls_code+'] &ensp;'+result.data[i].reg_sls_name+'</option>'
                    }
                }else{
                    for (let i = 0; i < result.data.length; i++) {
                        opt += '<option value="'+result.data[i].reg_code+'">['+result.data[i].reg_code+'] &ensp;'+result.data[i].reg_name+'</option>'
                    }
                }

                $(target).html(opt)
            },
            error: (error) => {
                console.log(error);
            }
        });

        return
    }

    $('#provinsi_id').on('change', function(){
        get_region_adm('prov', $(this).val(), '#kabkot_id')
        
    })

    $('#kabkot_id').on('change', function(){
        get_region_adm('kabkot', $(this).val(), '#kecamatan_id')
    })

    $('#kecamatan_id').on('change', function(){
        get_region_adm('kec', $(this).val(), '#id_r104')
    })

    $('#id_r104').on('change', function(){
        get_region_adm('deskel', $('option:selected', this).attr('data-code'), '#id_r105')
    })

    $('#{{form.r301a.id_for_label}}').on('change', function(){
        var target = $('#{{ form.r301b.id_for_label }}')
        if ($(this).val() == 1){
            target.attr('required', 'required')
            target.parent().parent().removeClass('d-none')
        }
        else{
            target.removeAttr('required')
            target.parent().parent().addClass('d-none')
        }
    })

    $('.form-control').on('change', function(){
        if ($(this).hasClass('is-invalid')){
            $(this).removeClass('is-invalid')
        }
    })

    $('#{{form.r306a.id_for_label}}').on('change', function(){
        var target = $('#{{ form.r306b.id_for_label }}')
        var val = parseInt($(this).val())
        if ([4, 5, 6, 7, 8].includes(val)){
            target.attr('required', 'required')
            target.parent().parent().removeClass('d-none')
        }else{
            target.removeAttr('required')
            target.parent().parent().addClass('d-none')
        }
    })

    $('#{{form.r307a.id_for_label}}').on('change', function(){
        var target = $('#{{ form.r307b.id_for_label }}')
        if ($(this).val() == 1){
            target.attr('required', 'required')
            target.parent().parent().removeClass('d-none')
        }else{
            target.removeAttr('required')
            target.parent().parent().addClass('d-none')
        }
    })
    
    $('#{{form.r309a.id_for_label}}').on('change', function(){
        var target = $('#{{ form.r309b.id_for_label }}')
        var val = parseInt($(this).val())
        if ([1 ,2, 3].includes(val)){
            target.attr('required', 'required')
            target.parent().parent().removeClass('d-none')
        }else{
            target.removeAttr('required')
            target.parent().parent().addClass('d-none')
        }
    })

    function showField407(e){
        var val = parseInt($(e).val())
        var attr_num = parseInt($(e).attr('data-num'))
        
        var target1 = $('#form_art_r427_'+attr_num)
        var target2 = $('#form_art_r431f_'+attr_num)

        var target_year_mt_5 = [
            '#form_art_r412_'+ attr_num,
            '#form_art_r416a_'+ attr_num,
            '#form_art_r416b_'+ attr_num,
            '#form_art_r417_'+ attr_num,
            '#form_art_r418_'+ attr_num,
            '#form_art_r420a_'+ attr_num,
            '#form_art_r421_'+ attr_num,
            '#form_art_r422_23_'+ attr_num,
            '#form_art_r425_'+ attr_num,
        ]

        if (val >= 5 ){
            target_year_mt_5.forEach((obj) => {
                $(obj).attr('required', 'required')
                $(obj).parent().parent().removeClass('d-none')
            });
        }else{
            target_year_mt_5.forEach((obj) => {
                $(obj).removeAttr('required')
                $(obj).parent().parent().addClass('d-none')
            });
        }

        if (val <= 4 ){
            target1.attr('required', 'required')
            target1.parent().parent().removeClass('d-none')
        }else{
            target1.removeAttr('required')
            target1.parent().parent().addClass('d-none')
        }

        if (val >= 15){
            target2.attr('required', 'required')
            target2.parent().parent().removeClass('d-none')
        }else{
            target2.removeAttr('required')
            target2.parent().parent().addClass('d-none')
        }
    }

    function showField420(e){
        var val = parseInt($(e).val())
        var attr_num = parseInt($(e).attr('data-num'))

        var target = [
            '#form_art_r421_'+attr_num,
            '#form_art_r422_23_'+attr_num,
            '#form_art_r425_'+attr_num
        ]
        
        if (val == 1){
            target.forEach((obj) => {
                $(obj).attr('required', 'required')
                $(obj).parent().parent().removeClass('d-none')
            });
        }else{
            target.forEach((obj) => {
                $(obj).removeAttr('required')
                $(obj).parent().parent().addClass('d-none')
            });
        }

    }

    function showField416(e){
        var val = parseInt($(e).val())
        var attr_num = parseInt($(e).attr('data-num'))
        var target = [
            '#form_art_r416b_'+attr_num,
            '#form_art_r417_'+attr_num,
            '#form_art_r418_'+attr_num
        ]

        if (val == 1){
            target.forEach((obj) => {
                $(obj).attr('required', 'required')
                $(obj).parent().parent().removeClass('d-none')
            });
            
        }else{
            target.forEach((obj) => {
                $(obj).removeAttr('required')
                $(obj).parent().parent().addClass('d-none')
            });
        }

    }

    function showField412(e){
        var val = parseInt($(e).val())
        var attr_num = parseInt($(e).attr('data-num'))
        var target = $('#form_art_r415_'+attr_num)
        
        if ([2, 3].includes(val)){
            target.attr('required', 'required')
            target.parent().parent().removeClass('d-none')
        }else{
            target.removeAttr('required')
            target.parent().parent().addClass('d-none')
        }
    }

    function showField404(e){
        var val = parseInt($(e).val())
        var attr_num = parseInt($(e).attr('data-num'))

        var not_showen_fields = ['form_art_r427_' + attr_num, 'form_art_r431f_'+attr_num, 'form_art_r412_'+attr_num, 'form_art_r415_' + attr_num, 'form_art_r416a_' + attr_num, 'form_art_r416b_' + attr_num, 'form_art_r417_' + attr_num, 'form_art_r418_' + attr_num, 'form_art_r420a_'+attr_num,'form_art_r421_'+attr_num, 'form_art_r422_23_'+attr_num, 'form_art_r425_'+attr_num]

        if ([1, 5].includes(val)){
            $('.field-art-'+ attr_num).each(function(i, obj) {
                if (!not_showen_fields.includes($(this).attr('id'))){
                    $(this).attr('required', 'required')
                    $(this).parent().parent().removeClass('d-none')
                }
            });
        }else{
            $('.field-art-' + attr_num).each(function(i, obj) {
                $(this).removeAttr('required', 'required')
                $(this).parent().parent().addClass('d-none')
            });
        }
    }

    function clean_form(){
        $('.invalid-feedback').each(function(i, obj) {
           $(this).html('')
        });

        $('.is_invalid').each(function(i, obj) {
            $(this).removeClass('is_invalid')
         });
    }

    function clean_inline_form(list){
        var datalists = []
        list.forEach(function (item, index) {
            var data = []
            var key = {}

            if (item.includes('input')) {
                var item = item.replace('input_', "");
                $('input[name="'+item+'"]').each(function(i, obj) {
                    if($(this).val().length == 0){
                        data.push('')
                    }else{
                        data.push($(this).val())
                    }
                });
            }else{
                $('select[name="'+item+'"]').each(function(i, obj) {
                    if($(this).val().length == 0){
                        data.push('')
                    }else{
                        data.push($(this).val())
                    }
                });
            }

            key[item] =  data
            datalists.push(key)
        });
        return datalists
    }
    
    function checkSubmit(){

        clean_form()
        $('#message-respons').html('')
    
        var art_form_data = clean_inline_form(
            ['input_r401','input_r402','input_r403','r404','r405','input_r406','input_r407','r408','r409','r411','r412','r415','r416a','input_r416b','r417','r418','r420a','r421','input_r422_23','r425','r427','r430','r431a','r431f']
        )

        var form_data = {}
        $('.form-family').each(function(i, obj) {
            form_data[$(this).attr('name')] = $(this).val()
        });

        var formData = new FormData()
        formData.append('form_families', JSON.stringify(form_data))
        formData.append('form_art', JSON.stringify(art_form_data))

        $.ajax({
            url: '{% url "app:mnj_families_add" %}',
            type: "POST",
            processData: false,
            contentType: false,
            dataType: "json",
            data : formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (response) => {
                push_notif(response.status, 'alert-success', "#message-respons") 
                $('html, body').animate({
                    scrollTop: $("body").offset().top
                }, 10);
            },
            error: (response) => {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                        msgs += '<li>'+item+'</li>'
                    });
                        
                    msgs += '</ul>'

                    if (key.includes('form_art_')) {
                        $('#'+ key).addClass('is-invalid');
                        $('#msg-'+key).html(msgs)
                    }else{
                        $('#id_'+ key).addClass('is-invalid');
                        $('#msg-id_'+key).html(msgs)
                    }
                }
            }
        });

        return
    }


    $("form").submit(function (e) {
        e.preventDefault();
        {% comment %} var art_form_data = clean_inline_form(
            ['r401','r402','r403','r404','r405','r406','r407','r408','r409','r411','r412','r415','r416a','r416b','r417','r418','r420a','r421','r422_23','r425','r427','r430','r431a','r431f']
        )
        
        var form_data = {}
        $('.form-family').each(function(i, obj) {
            form_data[$(this).attr('name')] = $(this).val()
        });

        var formData = new FormData();
        formData.append("form_families", JSON.stringify(form_data));
        formData.append("form_art", JSON.stringify(art_form_data));

        $.ajax({
            url: '{% url "app:mnj_families_add" %}',
            type: "POST",
            dataType: "json",
            data : formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (result) => {
                console.log(error)
            },
            error: (error) => {
                var errors = response["responseJSON"]["error"]
                for (const [key, value] of Object.entries(errors)) {
                    var msgs = '<ul>'
                    value.forEach(function (item, index) {
                    
                        msgs += '<li>'+item+'</li>'
                        });
                    
                    msgs += '</ul>'
                    $('#id_'+ key).addClass('is-invalid');
                    $('#msg-id_'+key).html(msgs)
                }    
            }
        }); {% endcomment %}
        
      });

</script>
{% endblock js-extender %}