{% extends "base/index.html" %}
{% load static %}
{% load filter_tags %}

{% block css-extender %}
<link rel="stylesheet" href="{% static 'app-design/assets/vendors/choices.js/choices.min.css' %}" />
{% endblock css-extender %}

{% block main-content %}

<section class="section mb-3">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Manajemen Penduduk</h3>
                <p class="text-subtitle text-muted">Manajemen data penduduk untuk memutakhirkan kondisi dan karakteristik penduduk di setiap desa.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Manajemen</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Penduduk</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section">

    <div class="row mb-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Filter Wilayah</h4>
                </div>
                <div class="card-body px-4 pb-4">
                    <div class="row">
                        <div class="col-3">Provinsi</div>
                        <div class="col-9">
                            <div class="form-group">
                                <select class="form-select" id="id_provinsi">
                                    <option value="" selected="selected">---------</option>
                                    {% for prov_reg in province_regions %}
                                        <option value="{{prov_reg.reg_code}}">[{{prov_reg.reg_code}}]&ensp;{{prov_reg.reg_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Kabupaten/Kota</div>
                        <div class="col-9">
                            <div class="form-group" >
                                <select class="form-select" id="id_kabkot">
                                    <option value="" selected="selected">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Kecamatan</div>
                        <div class="col-9">
                            <div class="form-group" >
                                <select class="form-select" id="id_kecamatan">
                                    <option value="" selected="selected">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">Desa/Kelurahan</div>
                        <div class="col-9">
                            <div class="form-group" >
                                <select class="form-select" id="id_desa">
                                    <option value="" selected="selected">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">SLS/Non SLS</div>
                        <div class="col-9">
                            <div class="form-group" >
                                <select class="form-select" id="id_sls">
                                    <option value="" selected="selected">---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Filter Karakteristik Keluarga</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-4 pb-4">
                    <div class="row">
                        <div class="col-5">Pendidikan KRT</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select">
                                    <option>----</option>
                                    {% for edu_level in education_levels %}
                                        <option value="{{edu_level.0}}">{{edu_level.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Status Kepemilikan Bangunan</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option>----</option>
                                    {% for state in home_ownership_state %}
                                        <option value="{{state.0}}">{{state.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Kepemilikan Aset</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">Rumah</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">Penerima Program Bantuan</div>
                        <div class="col-7">
                            <div class="form-group" style="width:400px!important">
                                <select class="choices form-select" >
                                    <option value="romboid">BLT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="message-respons">
            
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Daftar Penduduk</h4>
                    <div class="d-flex ">
                        <a href="{% url 'app:mnj_population_add' %}" class="btn icon btn-primary">Tambah Penduduk</a>&ensp;
                        <button class="btn icon btn-info" id="refresh"><i class="mdi mdi-refresh"></i></button>
                    </div>
                </div>
                <div class="card-body px-3">
                    <div class="table-responsive">
                        <table class='table w-100 mb-0' id="table">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th>Nama</th>
                                    <th>NIK</th>
                                    <th class="text-center">Umur</th>
                                    <th>Pendidikan</th>
                                    <th>Hubungan Dalam Keluarga</th>
                                    <th>Keberadaan</th>
                                    <th class="text-center">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main-content %}


{% block js-extender %}
<script>
    var table = $("#table").DataTable({
        pageLength: 5,
        processing: true,
        serverSide: true,
        bInfo : false,
        bLengthChange: false,
        ajax: {
            "url": "{% url 'app:mnj_population_fetch_data' %}",
            "headers": {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            "type": "POST",
        },
        columns :[
            {"data": 'no'},
            {"data": 'r503'},
            {"data" : 'r502'},
            {"data" : 'r508'},
            {"data" : 'r518'},
            {"data" : 'r504'},
            {"data" : 'r505'},
            {"data" : 'actions'},
        ],
        order: [[0, 'asc']],
        columnDefs: [
            {
                'targets': [7],
                'orderable': false,          
            },
            {
                "targets": [0, 2, 3, 7],
                "className": "text-center",
           },
        ],
        language: {
            search: '<span style="font-size:14px">Temukan data penduduk</span>',
            searchPlaceholder: ".....",
            paginate: {
                previous: "<i class='mdi mdi-chevron-left'>",
                next: "<i class='mdi mdi-chevron-right'>",
            },
        },
        drawCallback: function () {
            $(".dataTables_paginate > .pagination").addClass("pagination-primary");
            $(".dataTables_paginate > .pagination > .paginate_button > .page-link").addClass("rounded");
        },
    });
</script>

<script>

    $('#refresh').on('click', function(){
        table.draw();
    })

    $('#id_provinsi').on('change', function(){
        get_region_adm('prov', $(this).val(), '#id_kabkot')
    })

    $('#id_kabkot').on('change', function(){
        get_region_adm('kabkot', $(this).val(), '#id_kecamatan')
    })

    $('#id_kecamatan').on('change', function(){
        get_region_adm('kec', $(this).val(), '#id_desa')
    })

    $('#id_desa').on('change', function(){
        get_region_adm('deskel', $('option:selected', this).attr('data-code'), '#id_sls')
    })

    $('.btn-delete').on('click', function(e){
        var val = $(this).attr('data-id')
        $("#message-respons").html('')

        $.ajax({
            url: '{% url "app:mnj_population_del" %}',
            type: "POST",
            dataType: "json",
            data : {'pk' : val},
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": '{{csrf_token}}',
            },
            success: (response) => {
                push_notif(response.message, 'alert-success', "#message-respons")
            },
            error: (response) => {
                push_notif(response.message, 'alert-danger', "#message-respons")
            }
        });
    })
</script>
<script src="{% static 'app-design/assets/vendors/choices.js/choices.min.js' %}"></script>
{% endblock js-extender %}