{% extends "base/index.html" %}

{% block main-content %}

<section class="section mb-3">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Dashboard</h3>
                <p class="text-subtitle text-muted">Ringkasan Data Kependudukan dan Sosial Demografi Desa.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="row mb-2">
        <div class="col-12 col-md-3">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='card-title'>Jumlah Keluarga</h3>
                            <div class="card-body px-0 d-flex justify-content-start align-items-center">
                                <h2 class="text-white">{{families}} Keluarga</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='card-title'>Jumlah Penduduk</h3>
                            <div class="card-body px-0 d-flex justify-content-start align-items-center">
                                <h2 class="text-white">{{populations}} Penduduk</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='card-title'>Jumlah Penyandang Disabilitas</h3>
                            <div class="card-body px-0 d-flex justify-content-start align-items-center">
                                <h2 class="text-white">{{disability}} Penduduk</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3' style="height:170px !important">
                            <h3 class='card-title'>% Penduduk Bekerja</h3>
                            <div class="card-body px-0 d-flex justify-content-start align-items-center">
                                <h2 class="text-white">{{labor_percentage}} Persen</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Ringkasan Tabulasi Karakterisik Penduduk</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table table-hover mb-0 w-100' id="table12">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th>Indikator</th>
                                    <th>Karakteristik</th>
                                    <th class="text-center">Jumlah Penduduk</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dt in dashboard_population %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td>{{dt.indicator}}</td>
                                        <td>{{dt.value}}</td>
                                        <td class="text-center">{{dt.count}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Tabulasi Karakterisik Keluarga</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table table-hover mb-0 w-100' id="table12">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th>Indikator</th>
                                    <th>Karakteristik</th>
                                    <th class="text-center">Jumlah Keluarga</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dt in dashboard_family %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td>{{dt.indicator}}</td>
                                        <td>{{dt.value|safe}}</td>
                                        <td class="text-center">{{dt.count}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main-content %}